
extends layout

block metas
  title Custom Index
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
  script(src='/js/jquery.cookie.js')
  link(type='text/css', href='/css/smoothness/jquery-ui-1.8.18.custom.css', rel='stylesheet')
  :coffeescript
    HISTORY_SIZE = 30
    
    addHistory = (shortUrl, longUrl, ipAddress, prefixMask) ->
      history = ($.cookie('url_history'))?.split(/;/) ? []
      history.unshift (encodeURIComponent(arguments[i]) for i in [0..3]).join ':'
      $.cookie('url_history', history[0..Math.min(history.length, HISTORY_SIZE)].join ';',
          expires: 128, path: '/')
    
    isValidSplitIp = (sections) ->
      return (sections.length == 4 and
          (true for v in sections when /^\d+$/.test(v) and 0 <= v < 256).length == 4)
    
    validateRedrection = (longUrl, ipAddress, prefixMask) ->
      longUrl:
        if /^https?:\/\//.test(longUrl)
          null
        else if longUrl is ''
          'URLが未入力です'
        else
          'URLがhttp://かhttps://以外で始まっています'
      isAddress:
        if isValidSplitIp(ipAddress.split /\./)
          null
        else if ipAddress is ''
          'IPアドレスが未入力です'
        else
          'IPアドレスが不正です'
      prefixMask:
        if 0 < +prefixMask <= 32
          null
        else if prefixMask is ''
          'ネットマスクビット数が未入力です'
        else
          'ネットマスクビット数が不正です'
    
    $ ->
      makeNotice = (type, icon, mes) ->
        return """
          <div class='notice #{type}'>
            <span class='icon medium' data-icon='#{icon}' style='display: inline-block'>
              <span aria-hidden='true'>#{icon}</span>
            </span>
            #{mes.html?() ? mes}
            <a href='#close' class='icon close' data-icon='x'></a>
          </div>
        """
      form = $('form#db-adder').submit ->
        form.find('input.error, label').removeClass 'error'
        longUrl = $('input#new-url').val()
        ipAddress = $('input#new-ip').val()
        prefixMask = $('input#new-prefix-mask').val()
        validated = validateRedrection longUrl, ipAddress, prefixMask
        
        if (v for own k,v of validated when v?).length is 0
          $.ajax(
            type: 'POST'
            url: form.attr 'action'
            data: form.serialize()
            success: (data) ->
              mes = "<div>リンクを作成しました！</div>
                <div><a href='#{data.shortUrl}'>#{data.shortUrl}</a></div>"
              $(makeNotice('success', 'C', mes)).hide()
                  .prependTo($('#result')).slideDown()
              addHistory data.shortUrl, longUrl, ipAddress, prefixMask
            error: (jqXHR, text, errorThrown) ->
              console.log jqXHR
              console.log errorThrown
              $(makeNotice('warning', '!', "リンクの作成に失敗しました！")).hide()
                  .prependTo($('#result')).slideDown()
          )
        else
          errorDialog = $('<div/>').appendTo $('#result')
          ul = $('<ul/>').appendTo errorDialog
          
          for own k,v of validated when v?
            $('<li/>').text(v).appendTo ul
            
            id = {
              longUrl: 'new-url'
              isAddress: 'new-ip'
              prefixMask: 'new-prefix-mask'
            }[k]
            form.find("input##{id}, label[for=#{id}]").addClass('error')
          
          errorDialog.dialog(
            title: 'エラー'
            close: -> $(@).remove()
          )
        false

block content
  .col_12
    h1 My Site
    h2 Pages Example
    form#db-adder.vertical(method='POST', action='./redirects/new')
      label(for='new-url') URL
        span.right 「http://～」で始まる文字列
      input#new-url(type='text', name='url', maxlength=1000, placeholder='http://example.com/')
      label(for='new-ip') IPアドレス
        span.right xxx.xxx.xxx.xxx
      input#new-ip(type='text', name='ip-address', maxlength=1000, placeholder='127.0.0.1')
      label(for='new-prefix-mask') ネットマスクビット数
        span.right 1以上32以下の整数値
      input#new-prefix-mask(type='text', name='prefix-mask', maxlength=1000, placeholder='16')
      input(type='submit', value='追加')
    #result
  .col_12
    h2 作成履歴
    table#history
      tr
        th 生成されたURL
        th 元のURL
        th IPアドレス
        th ネットマスクビット数
      each history in histories
        tr
          each element, i in history
            //- [shortUrl, longUrl, ipAddress, prefixMask]
            - if (i < 2)
              td: a(href=element)= element
            - else
              td= element

block footer
  #footer This website was built with <a href="http://www.99lime.com">HTML KickStart</a>